.frame{
    -fx-background-image: url("https://as2.ftcdn.net/v2/jpg/06/19/95/45/1000_F_619954512_EyNJQBH0bUwXGC4EtBoLnmfvBZ7cI421.jpg");
    -fx-background-position: right;
    -fx-border-color: black;
}
#mybtn,#brbtn,#logoutBttn{
    -fx-background-color: #c0bdbd;
    -fx-transition: transform 0.5s;
}
#mybtn:hover,#brbtn:hover,#logoutBttn:hover{
    -fx-background-color: #775C33FF;
    -fx-text-fill: white;
    -fx-transform: scale(1.1);
}